@use '../index.scss' as *;
@mixin buttonColors($class, $background, $hover, $shadow) {
  .#{$class} {
    background-color: $background;
    &:hover {
      background-color: $hover;
    }
    &:before {
      background-color: $shadow;
    }
  }
}

/* =================================== § COLORS === */
// class, background, hover, shadow
@include buttonColors(button, var(--key-background), var(--key-background-hover), var(--key-shadow));
@include buttonColors(button--accent, var(--key-background-accent), var(--key-background-accent-hover), var(--key-shadow-accent));
@include buttonColors(button--highlight, var(--key-background-highlight), var(--key-background-highlight-hover), var(--key-shadow-highlight));
@include buttonColors(button--accent--pale, var(--key-background-accent-pale), var(--key-background-accent-hover-pale), var(--key-shadow-accent-pale));

.button {
  --transition: transform 0.03s ease-in;
  position: relative;
  height: var(--button-height); // this variable is declared in .calculator in _calculator-layout
  font-family: var(--body-font-family);
  // display: flex;
  // align-content: center;
  // justify-content: center;

  border: none;
  border-radius: 0.3rem;
  color: var(--text-color);
  transform-style: preserve-3d;
  transition: var(--transition);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(0, 0.2rem, -0.2rem);
    border-radius: inherit;
    transition: var(--transition);
    box-shadow: 0 0.2rem 0.05rem rgba(black, 0.1);
  }

  &:hover {
    transform: translate3d(0, 0.05rem, 0);
    transition: var(--transition);

    &:before {
      transform: translate3d(0, 0.15rem, -0.2rem);
      box-shadow: 0 0.15rem 0.05rem rgba(black, 0.1);
    }
  }

  &:active {
    transform: translate3d(0, 0.15rem, 0);
    transition: var(--transition);

    &:before {
      transform: translate3d(0, 0.05rem, -0.2rem);
      box-shadow: 0 0 0 rgba(black, 0.1);
    }
  }
}

.button__content {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  vertical-align: -0.3rem;
}

.button__content--small {
  @extend .button__content;
  font-size: 0.6rem;
  vertical-align: 0rem;
}

.uppercase {
  text-transform: uppercase;
}

.button--accent,
.button--highlight {
  color: white;
}
