@use '../index.scss' as *;

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  min-height: 4rem;
  background-color: var(--screen-background);
  color: var(--text-color-2);
}

.display__content {
  margin-top: 0.3rem;
  text-align: right;
  font-size: 1.5rem;
  line-height: 2.3rem;
  line-break: anywhere;
  width: 100%;
}

.display__memory {
  --font-size: 0.4rem;
  text-align: right;
  width: 100%;
  font-size: var(--font-size);
  line-height: var(--font-size);
  display: none;

  &.visible {
    display: initial;
  }
}

@mixin backgroundHighlight($class, $levels, $i: 1) {
  @if ($i > 3) {
    $i: 1;
  }
  @if ($levels >= 1) {
    .#{$class} {
      color: var(--highlight-#{$i});
      @include backgroundHighlight($class, $levels - 1, $i + 1);
    }
  }
}

@include backgroundHighlight(highlight--bg, 15);

.highlight--bg {
  padding: 0.2rem;
  border-radius: 0.2rem;
}
