$base-font-size: 32px;
$small-font-size: 32px * 0.9;
$width-700: 800px; // desktop
$width-500: 600px; // tablet
$width-300: 450px; // mobile
$desktop-width: $width-700;
$mobile-width: $desktop-width - 1px;
$very-small-layout: 400px;

:root {
  // Colors
  --accent-color: hsl(216, 61%, 54%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);

  /* =================================== § DARK THEME === */
  --desaturated-blue-900: hsl(224, 36%, 15%);
  --desaturated-blue-800: hsl(223, 31%, 20%);
  --desaturated-blue-700: hsl(222, 26%, 31%);
  --desaturated-blue-D-700: hsl(221, 14%, 31%);
  --desaturated-blue-650: hsl(224, 28%, 35%);
  --desaturated-blue-500: hsl(225, 21%, 49%);
  --desaturated-blue-300: hsl(224, 18%, 65%);
  --desaturated-blue-100: hsl(225, 11%, 85%);

  --red-500: hsl(6, 63%, 50%);
  --red-350: hsl(6, 70%, 34%);

  --red-D-100: hsl(30, 25%, 89%);
  --orange-D-450: hsl(28, 16%, 65%);

  .dark-theme {
    /* ····················· § BACKGROUNDS ··· */
    --main-background: var(--desaturated-blue-700);
    --toggle-background: var(--desaturated-blue-800);
    --keypad-background: var(--desaturated-blue-800);
    --screen-background: var(--desaturated-blue-900);

    /* ····················· § KEY BACKGROUNDS ··· */
    --key-background-accent: var(--desaturated-blue-500);
    --key-background-accent-hover: hsl(225, 21%, 45%);
    --key-shadow-accent: var(--desaturated-blue-650);

    --key-background-accent-pale: var(--desaturated-blue-100);
    --key-background-accent-hover-pale: hsl(225, 11%, 80%);
    --key-shadow-accent-pale: var(--desaturated-blue-300);

    --key-background-highlight: var(--red-500);
    --key-background-highlight-hover: hsl(6, 63%, 45%);
    --key-shadow-highlight: var(--red-350);
    --toggle: var(--red-500);

    --key-background: var(--red-D-100);
    --key-background-hover: hsl(30, 25%, 85%);
    --key-shadow: var(--orange-D-450);

    /* ····················· § TEXT ··· */
    --text-color: var(--desaturated-blue-D-700);
    --text-color-2: white;
    --text-color-3: var(--red-500);
    --text-color-4: var(--desaturated-blue-800);
  }
  /* =================================== § LIGHT THEME === */
  --grey-100: hsl(0, 0, 90%);
  --red-D-200: hsl(0, 5%, 81%);
  --grey-050: hsl(0, 0, 93%);

  --cyan-600: hsl(185, 42%, 37%);
  --cyan-750: hsl(185, 58%, 25%);

  --orange-600: hsl(25, 98%, 40%);
  --orange-750: hsl(25, 99%, 27%);

  --yellow-100: hsl(45, 7%, 89%);
  --orange-D-400: hsl(35, 11%, 61%);

  --yellow-D-200: hsl(60, 10%, 19%);

  .light-theme {
    /* ····················· § BACKGROUNDS ··· */
    --main-background: var(--grey-100);
    --toggle-background: var(--red-D-200);
    --keypad-background: var(--red-D-200);
    --screen-background: var(--grey-050);

    /* ····················· § KEY BACKGROUNDS ··· */
    --key-background-accent: var(--cyan-600);
    --key-background-accent-hover: hsl(185, 58%, 33%);
    --key-shadow-accent: var(--cyan-750);

    --key-background-highlight: var(--orange-600);
    --key-background-highlight-hover: hsl(25, 98%, 36%);
    --key-shadow-highlight: var(--orange-750);
    --toggle: var(--orange-600);

    --key-background: var(--yellow-100);
    --key-background-hover: hsl(45, 7%, 87%);
    --key-shadow: var(--orange-D-400);

    /* ····················· § TEXT ··· */
    --text-color: var(--yellow-D-200);
    --text-color-2: black;
    --text-color-3: var(--orange-600);
    --text-color-4: var(--red-D-200);
  }
  /* =================================== § TWILIGHT THEME === */
  --violet-100: hsl(268, 75%, 9%);
  --violet-150: hsl(268, 71%, 12%);

  --violet-250: hsl(281, 89%, 26%);
  --violet-500: hsl(285, 91%, 52%);

  --cyan-S-550: hsl(176, 100%, 44%);
  --cyan-S-300: hsl(177, 92%, 70%);

  --violet-800: hsl(268, 47%, 21%);
  --violet-350: hsl(290, 70%, 36%);

  --yellow-400: hsl(52, 100%, 62%);
  --blue-100: hsl(198, 20%, 13%);
  .twilight-theme {
    /* ····················· § BACKGROUNDS ··· */
    --main-background: var(--violet-100);
    --toggle-background: var(--violet-150);
    --keypad-background: var(--violet-150);
    --screen-background: var(--violet-150);

    /* ····················· § KEY BACKGROUNDS ··· */
    --key-background-accent: var(--violet-250);
    --key-background-accent-hover: hsl(281, 89%, 22%);
    --key-shadow-accent: var(--violet-500);

    --key-background-highlight: var(--cyan-S-550);
    --key-background-highlight-hover: hsl(176, 100%, 40%);
    --key-shadow-highlight: var(--cyan-S-300);
    --toggle: var(--cyan-S-550);

    --key-background: var(--violet-800);
    --key-background-hover: hsl(268, 47%, 18%);
    --key-shadow: var(--violet-350);

    /* ····················· § TEXT ··· */
    --text-color: var(--yellow-400);
    --text-color-2: white;
    --text-color-3: var(--cyan-S-550);
    --text-color-4: var(--violet-150);
  }

  // Typography
  --base-font-size: #{$base-font-size};
  --small-font-size: #{$small-font-size};
  --line-height: 1.6em;
  --body-font-family: 'Spartan', sans-serif;
  --headings-font-family: 'Spartan', sans-serif;
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
}
