@use '../index.scss' as *;

.calculator {
  margin: 1rem;
  @include mq($desktop-width, up) {
    &.normal-layout {
      max-width: 540px;
    }
    &.scientific-layout {
      max-width: 1000px;
    }
  }
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
  padding: 0.8rem;
}

.normal-layout {
  .button--scientific-layout {
    display: none;
  }

  #reset {
    @include column-start-end(1, 3);
  }

  #equal {
    @include column-start-end(3, 5);
  }
}

.scientific-layout {
  @include mq($desktop-width, down) {
    .button--normal-layout {
      display: none;
    }
  }

  @include mq($desktop-width, up) {
    .buttons-container {
      grid-template-columns: repeat(10, 1fr);
    }
  }
}
