@use '../index.scss' as *;

.calculator__header {
  display: flex;
  color: var(--text-color-2);
  margin-bottom: 0.5rem;

  @include mq($very-small-layout, down) {
    flex-direction: column;
  }
}

.header__title {
  font-size: 1rem;
  margin-bottom: 0;
}

.header__options {
  display: flex;
  font-size: 0.35rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  @include mq($very-small-layout, up) {
    margin-left: auto;
  }

  @include mq($very-small-layout, down) {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.header__theme__title {
  cursor: pointer;
  i {
    font-size: 200%;
    vertical-align: -0.1rem;
  }

  @include mq($very-small-layout, down) {
    order: 2;
    margin-left: 0.5rem;
  }
}

.header__theme__radio-label-container {
  @include mq($very-small-layout, down) {
    margin-left: 0;
  }
}

.header__scientific-mode {
  margin-right: 0.5rem;
  color: var(--text-color-2);
  cursor: pointer;

  &.active {
    color: var(--text-color-3);
  }
}
